@import "_colors.less";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: @text-light-grey-three;
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @text-light-grey-two;
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @text-greyish-brown;
}
