<div class="input-container">
  <span class="suffix-search">
      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
          <g fill="none" fill-rule="evenodd" transform="rotate(45 8.257 12.5)">
              <circle cx="9.5" cy="9.5" r="9.5" stroke="#DFE5DD" stroke-width="3"></circle>
              <rect width="13" height="3" x="18" y="8" fill="#DFE5DD" rx="1.5"></rect>
          </g>
      </svg>
  </span>
  <input class="input-search" type="text" placeholder="Search">
</div>


