@import "_colors.less";

.input-container {
  height: 22px;

  .input-search {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 13px;
    font-family: 'Helvetica', sans-serif;
    color: @text-turtle-green;
    // border: none;
    display: inline-block;
    position: relative;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-family: 'Helvetica', sans-serif;
      color: @text-light-grey;
      font-size: 18px;
    }
  }


  .input-search {

    &:before {
      content: ' ';
      position: absolute;
      background-image: url('/assets/img/search.svg');
      background-repeat: no-repeat;
      background-size: 28px 28px;
      height: 27px;
      width: 27px;
      z-index: 99;
    }
  }

}
