<div class="container-singin-form">
  <div class="header">
    <span class="title">Sing in</span>
  </div>

  <form class="form" [formGroup]="signInForm" (ngSubmit)="onSingIn(signInForm.value)">

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Name</mat-placeholder>
      <input type="text" matInput [formControl]="name" required >
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        <mat-error *ngIf="signInForm.hasError('required')">
          {{errorMessages.required}}
        </mat-error>
        <mat-error *ngIf="name.hasError('invalidValues')">
          {{errorMessages.invalidValues}}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Password</mat-placeholder>
      <input type="password" matInput id="password" formControlName="password" required>
      <mat-error *ngIf="password.invalid && (password.dirty || name.touched)">
        <mat-error *ngIf="password.hasError('required')">
          {{errorMessages.required}}
        </mat-error>
        <mat-error *ngIf="password.hasError('invalidValues')">
          {{errorMessages.invalidValues}}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions class="section-button">
      <button type="submit" class="btn btn-save" mat-raised-button>Sign In</button>
      <button type="button" class="btn btn-cancel" mat-stroked-button (click)="close()">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
