@import "_colors.less";
@import "_mixins.less";

.container-list {
  height: 100%;

  .container-list {
    height: 83vh;
    overflow: auto;
  }

  .mat-table {
    width: 100%;
    table-layout: fixed;


    th.mat-header-cell {
      font-size: 16px;
      text-align: left;
      color: @text-light-grey-three;
      font-family: 'Helvetica', sans-serif;
      background-color: @background-light-grey-three;
      border: none;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }

      button {
        text-transform: uppercase;
      }

      .mat-sort-header-arrow {
        margin: 0 5px;
      }
    }

    tr.mat-row {
      height: 40px;
    }

    td.mat-cell {
      font-size: 16px;
      text-align: left;
      color: @text-light-grey-two;
      font-family: 'Helvetica', sans-serif;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 5px solid @background-light-grey-three;


      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }
    }

    .cell-id {
      width: 36px;
    }

    .cell-dateOfBirth {
      width: 143px;
    }

    .cell-hireDate {
      width: 107px;
    }

    .cell-city {
      padding-left: 50px;
    }
  }
}
