<div class="container-add-form">
  <div class="header">
    <span class="title">Adding new employee</span>
  </div>

  <form class="form" [formGroup]="">
    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Name</mat-placeholder>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Position</mat-placeholder>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Date of Birth</mat-placeholder>
      <input matInput [matDatepicker]="birth" (click)="birth.open()">
      <mat-datepicker-toggle matSuffix [for]="birth" ></mat-datepicker-toggle>
      <mat-datepicker #birth></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Hire Date</mat-placeholder>
      <input matInput [matDatepicker]="hire" (click)="hire.open()">
      <mat-datepicker-toggle matSuffix [for]="hire"></mat-datepicker-toggle>
      <mat-datepicker #hire ></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Address</mat-placeholder>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">City</mat-placeholder>
      <mat-select>
        <mat-option *ngFor="let city of cities" value="city">{{city}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-item" floatLabel="never">
      <mat-placeholder class="form-placeholder">Country</mat-placeholder>
      <mat-select>
        <mat-option *ngFor="let country of countries" value="country">{{country}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions class="section-button">
      <button type="submit" class="btn btn-save" mat-raised-button>Save</button>
      <button type="button" class="btn btn-cancel" mat-stroked-button (click)="close()">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
