@import "_colors.less";

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 200;

  .section-loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 35%;
    left: 40%;
    color: @text-turtle-green;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    font-size: 18pt;

    .mat-spinner circle {
      stroke: @text-turtle-green;
    }
  }

}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: @background-light-grey-three;
  overflow: hidden;

  .block-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .block-employee {
    width: 100%;
    height: 100%;
    padding: 25px;
  }

}
