<div class="container-list">
  <div class="container-list-header">
    <p class="name-header-list">Employees</p>
    <button class="btn btn-add" mat-stroked-button (click)="openNewEmployeeFrom()">Add</button>
  </div>

  <div class="container-list-label">
    <div class="list-label-item">
      <span class="title">Id</span>
      <button name="id" type="button" class="btn btn-id btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>

    <div class="list-label-item">
      <span class="title">Name</span>
      <button name="name" type="button" class="btn btn-name btn-arrow-down"
              (click)="onSort($event)" >
      </button>
    </div>

    <div class="list-label-item">
      <span class="title">Position</span>
      <button name="position" type="button" class="btn btn-position btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>

    <div class="list-label-item">
      <span class="title">Date Of Birthday</span>
      <button name="dateOfBirth" type="button" class="btn btn-dateOfBirth btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>
    <div class="list-label-item">
      <span class="title">Hire date</span>
      <button name="hireDate" type="button" class="btn btn-hireDate btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>

    <div class="list-label-item">
      <span class="title">Address</span>
      <button name="address" type="button" class="btn btn-address btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>

    <div class="list-label-item">
      <span class="title">City</span>
      <button name="city" type="button" class="btn btn-city btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>

    <div class="list-label-item">
      <span class="title">Country</span>
      <button name="country" type="button" class="btn btn-country btn-arrow-down"
              (click)="onSort($event)">
      </button>
    </div>
  </div>

  <div class="container-list-content">
    <div class="container-list-content-wrap">
      <div class="list-content-item" *ngFor="let employee of employeeList">
        <div class="list-content-title">{{employee.id}}</div>
        <div class="list-content-title">{{employee.name}}</div>
        <div class="list-content-title">{{employee.position}}</div>
        <div class="list-content-title">{{employee.dateOfBirth | date: 'dd.MM.yyyy'}}</div>
        <div class="list-content-title">{{employee.hireDate | date: 'dd.MM.yyyy'}}</div>
        <div class="list-content-title">{{employee.address}}</div>
        <div class="list-content-title">{{employee.city}}</div>
        <div class="list-content-title">{{employee.country}}</div>
      </div>
    </div>
  </div>
</div>
