@import "_colors.less";
@import "_mixins.less";

.container-list {
  height: 100%;

  .container-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name-header-list {
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-family: 'Helvetica', sans-serif;
      font-weight: bold;
      color: @text-greyish-brown;
    }

    .btn {
      padding: 0 20px;
      height: 28px;
      border-radius: 14px;
      line-height: 0;
      text-align: right;
      font-weight: bold;
      font-family: 'Helvetica', sans-serif;
    }

    .btn-add {
      width: 93px;
      color: @text-turtle-green;
      background: url("/assets/img/add.svg") no-repeat 20px center;
    }
  }

  .container-list-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px 15px 20px;

    .list-label-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .title {
        text-transform: uppercase;
        font-size: 16px;
        color: @text-light-grey-three;
        font-family: 'Helvetica', sans-serif;
        padding-right: 5px;
        white-space: nowrap;
      }

      .btn {
        border: none;

        &:focus, &:active {
          outline: none;
        }
      }

      .btn-arrow-down {
        background: url("/assets/img/arrow-down.svg") no-repeat center 4px;
      }

      .btn-arrow-up {
        background: url("/assets/img/arrow-up.svg") no-repeat center 4px;
      }
    }
  }

  .container-list-content {
    height: 100%;

    .container-list-content-wrap {
      height: 80%;
      overflow: auto;
    }

    .list-content-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      background-color: @background-white;
      box-shadow: 0 0 4px 0 rgba(113, 113, 113, 0.15);
      margin-bottom: 5px;
      padding: 0 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .list-content-title {
        width: 100%;
        height: 20px;
        margin: 10px 0;
        text-align: left;
        vertical-align: middle;
        line-height: 20px;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        color: @text-light-grey-two;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
